@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100&family=Syncopate:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  background-color: #ffd4d4;
  font-size: 16px;
}

/*nav styles*/

nav {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: #ff9097;
  display: flex;
  justify-content: space-evenly;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

nav .mainMenu {
  display: flex;
  align-items: center;
  list-style: none;
}

nav .mainMenu li a {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  text-decoration: none;
  color: #272727;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

nav .mainMenu li a:hover {
  text-decoration: underline;
}

nav .openMenu {
  margin: 30px;
  display: none;
}

nav .mainMenu .closeMenu,
.icons i {
  display: none;
}

.logo {
  color: #272727;
  font-size: 1.5em;
}

/*index styles*/

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #272727;
}

main {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #272727;
  margin: 130px auto auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syncopate", Arial, Helvetica, sans-serif;
}

#description {
  text-align: center;
  padding: 10px;
}

#description h2 {
  font-size: 1.5em;
}

ul {
  list-style: none;
}


.title {
  background: url(/sites/all/themes/tenablefourteen/img/16/bg-generic.png), linear-gradient(180deg, #430098, #0071CE), #00A5B5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title h1 {

  padding: .5em 0;
  font-size: 4em;
  font-weight: 400;
}

title p {
  font-size: 1.125em;
}

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.flex-one,
.flex-two {
  width: 100%;
  background-color: #fff;
  color: #fff;
  margin-bottom: 2em;
  padding: 1em;
}
.flex-one p,
.flex-two p {
  font-size: 1.125em;
  text-shadow: 2px 2px 5px #263746;
}
.flex-one.flex-fewer,
.flex-two.flex-fewer {
  background: url("/sites/all/themes/tenablefourteen/img/backgrounds/bg-dots.png") center center no-repeat, linear-gradient(0deg, #00236d, #003bba);
  background-color: #0033a0;
}
.flex-one.flex-same,
.flex-two.flex-same {
  background: url("/sites/all/themes/tenablefourteen/img/backgrounds/bg-dots.png") center center no-repeat, linear-gradient(0deg, #00559b, #028dff);
  background-color: #0071ce;
  margin-top: -1em;
  margin-bottom: 1em;
}
.flex-one.flex-more,
.flex-two.flex-more {
  background: url("/sites/all/themes/tenablefourteen/img/backgrounds/bg-dots.png") center center no-repeat, linear-gradient(0deg, #21004c, #4e00b2);
  background-color: #430098;
}

@media (min-width: 38em) {
  .flex-one,
  .flex-two {
    width: 47%;
  }
}
@media (min-width: 64em) {
  .flex-one {
    width: 23%;
  }

  .flex-two {
    width: 32%;
  }
}

.gray {
  background: #f5f5f5;
}

.lightgray {
  background: #fff;
}
*/

body,
html {
  overflow-x: hidden;
}

.carousel--wrapper {
  /* max-width: 940px; */
  width: 100%;
  position: relative;
  /* margin: 0 auto; */
}

.carousel--wrapper--sec {
  overflow: visible;
}

.carousel {
  width: 100%;
  position: relative;
  
}
.carousel .progress-bar {
  position: relative;
  background-color: #fff;
  height: 2em;
}
.carousel .progress-bar .progress-bar-insider {
  position: relative;
  background-color: #2b50aa;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  width: 4%;
  height: 2em;
  transition: 0.2s width;
}
.carousel .progress-bar .progress-bar-insider:after {
  content: attr(data-progress);
  color: white;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}
.carousel .carousel__content {
  width: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: translate3d(0, 0, 0);
}
.carousel .carousel__content .carousel--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  height: 25rem;
  background-color: #ff9097;
  height: 40rem;
}

.carousel .carousel__content .carousel--item .carousel--title {
  transform: translateY(-50px);
  padding: 0;
  margin-bottom: 0;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0.6;
}
.carousel .carousel__content .carousel--item .carousel--title--sub {
  font-size: 1.2em;
  /*padding: 0 16%;*/
  max-width: 40em;
  opacity: 1;
}
.carousel .carousel__content .carousel--item .carousel--radios {
  font-size: 2em;
  color: #fff;
  opacity: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.radio-item {
  display: flex;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 2em;
}

.carousel .carousel__content .carousel--item .carousel--btn {

  font-size: 2em;
}
.carousel .carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -17px;
  left: 0;
  z-index: 1;
}
.carousel .carousel__nav .nav--buttons {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.5);
  padding: 12px 12px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  transition: padding .25s ease;
}
.carousel .carousel__nav .nav--buttons:hover {
  padding: 15px 15px;
}
.carousel .carousel__nav .nav--buttons--left {
  border-radius: 0px 3px 3px 0px;
}
.carousel .carousel__nav .nav--buttons--right {
  right: 0;
  border-radius: 3px 0px 0px 3px;
}

label {
  padding: 1.25em 0 0;
  cursor: pointer;
  font-size: 1rem;
  
}

input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  margin: 0 1em;
  width: 0.6em;
  height: 0.6em;
  background: #eeeeee;
  box-shadow: inset 0 0 0 .4em #fff, 0 0 0 .2em;
  border-radius: 50%;
  transition: .2s;
  cursor: pointer;
  color: #ddd;
  text-align: center;
  -ms-flex-item-align: center;
  align-self: center;
}
input[type="radio"]:hover, input[type="radio"]:checked {
  background: #000;
  box-shadow: inset 0 0 0 .5em #fff, 0 0 0 .25em #773344;
}
input[type="radio"]:checked {
  background: #000;
  box-shadow: inset 0 0 0 .4em #fff, 0 0 0 .2em #773344;
}
input[type="radio"]:focus {
  outline: 0;
}

.middle-flex {
  margin-top: -1em;
  margin-bottom: 1em;
}

@media (max-width: 40em) {
  .carousel--title {
    top: 20% !important;
    font-size: 2em !important;
  }

  .carousel--title--sub {
    margin-top: 0.5em !important;
    font-size: 1em !important;
  }

  .carousel--radios {
    top: 45% !important;
  }

  .carousel--btn {
    font-size: 1.25em !important;
  }

  .carousel--title {
    font-size: 1.5em !important;
  }

  .carousel--title--sub {
    font-size: 0.9em !important;
  }

  .carousel--radios {
    top: 40% !important;
    font-size: 1.5em !important;
  }

  .full-when-mobile {
    width: 100%;
  }
}

@media (min-width: 30em) and (max-width: 60em) {
  .carousel--radios {
    width: 80% !important;
  }
  .progress-bar-insider {
    font-size: 0.8em;
    padding: 1.25em !important;
  }
}

@media (max-width: 30em) {
  .carousel--radios {
    margin-top: 2em;
    width: 85% !important;
    font-size: 1.2em !important;
  }
  .progress-bar-insider {
    font-size: 0.5em;
    padding: 2em !important;
  }
}

/*product styles*/

#productPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.productCard {
    margin: 15px 0;
    width: 300px;
    background: #ff9097;
    border-radius: 15px;
}

img {
  background-color: white;
  border-radius: 15px;
}

.productCard ul {
  color: #272727;
  padding: 0;
}

input[value="Buy Here"] {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: #2b50aa;
  color: #ffd4d4;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

input[value="Not right? Try again!"] {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  background-color: #2b50aa;
  color: #ffd4d4;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

/*product directory styles*/
.filters {
  width: 150px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 20%;
  left: 0;
  background: #ffd4d4;
  overflow-y: scroll;
  padding: 5px 10px;
}

.filterBtn {
  padding: 7px;
  background: #ffd4d4;
  color: #272727;
  display: block;
  border: none;
}

.filterBtn:hover {
  text-decoration: underline;
}

.objects {
  margin-left: 165px;
  padding: 10px;
  line-height: 1.5;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.productImg {
  background-color: white;
  border-radius: 15px;
}

.directoryItem {
  text-decoration: none;
  text-align: center;
}

/*about styles*/
#aboutMain {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: #272727;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 320px) and (max-width: 600px) {
  nav {
    width: 100%;
  }

  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1s ease;
    display: none;
    line-height: 2;
    background-color: #ff949b;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  .icons i {
    display: inline-block;
    padding: 5px;
  }

  .logo {
    width: 100%;
    font-size: 1.25em;
  }

  .objects {
    width: 165px;
    padding: 10px;
    line-height: 1.5;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .objects {
    width: 165px;
    padding: 10px;
    line-height: 1.5;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  } 
}